<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Here's a Form</title>
  </head>
  <body>
    <h1>Place your {{product}} order</h1>
    <form action="/accept_order" method="POST">
      <label>Name</label>
      <input name="name" type="text" />
      <label>Card Number</label>
      <input name="card_num" type="text" />
      <label>Qty</label>
      <input name="qty" type="text" />
      <label>Product</label>
      <!--hidden input to pass form data the user dosen't need to see.-->>
      <input name="product" type="hidden" value="{{product}}" />
      <button>Buy Now</button>
    </form>
  </body>
</html>
